@font-face {
  font-family: 'Hero';
  src: url('../fonts/Hero.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hero';
  src: url('../fonts/Hero-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SignPainter';
  src: url('../fonts/SignPainter.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Hero';
}

h1, h2, h3, h4, h5{
  font-family: 'SignPainter';
}

.sp{
  font-family: 'SignPainter';
}

.hero{
  font-family: 'Hero';
}

.light{
  font-weight: 300;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}