$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_general.scss";

.btn-sign-in{
  background-color: #6fa879;
  border: 0px;
  color: #fff;
  font-weight: 300;

  &:hover{
    background-color: darken(#6fa879, 5%) !important;
    color: #fff;
  }
}

.btn-white{
  background-color: #fff;
  color: #58595b;
  border-color: #58595b;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;

  &:hover{
    background-color: #58595b;
    color: #fff;
  }
}

.btn-orange{
  background-color: #f36e54;
  color: #fff;
  border-color: #f36e54;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;

  &:hover{
    background-color: lighten(#f36e54, 5%);
    color: #fff;
  }
}

.btn-white.btn-lg,
.btn-orange.btn-lg{
  padding-left: 40px;
  padding-right: 40px;
}

#main-nav{
  background-color: transparent;
  border: 0px;
  color: #fff;
  @include transition(all 0.5s ease-in);

  #main-nav-container{
    padding-top: 10px;
    padding-bottom: 10px;

    a{
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      padding-left: 20px;
      padding-right: 20px;

      &:hover{
        background-color: lighten(#6fa879, 10%);
      }
    }

    .logo{
      padding-top: 0px;

      &:hover{
        background-color: transparent;
      }

      .blanco{
        display: block;
      }

      .negro{
        display: none;
      }
    }

    .navbar-toggle{
      border: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #navbar-collapse{
      @media only screen and (max-width: 778px){
        background-image: url(../images/home/fondo_verde.svg);
        text-align: center;
      }
    }

    .btn-sign-in{
      @media only screen and (max-width: 778px){
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

#main-nav.white{
  background-color: #fff;
  color: #808285;

  #main-nav-container{
    a{
      color: #808285;

      &:hover{
        background-color: lighten(#eee, 5%);
      }
    }

    .btn-sign-in{
      background-color: #fff;
      border: 1px solid #808285;
      color: #808285;
      font-weight: 300;

      &:hover{
        background-color: #808285 !important;
        color: #fff;
      }
    }

    .logo{
      padding-top: 0px;

      &:hover{
        background-color: transparent;
      }

      .blanco{
        display: none;
      }

      .negro{
        display: block;
      }
    }

    #navbar-collapse{
      @media only screen and (max-width: 778px){
        background-image: none;
        background-color: #fff;
      }
    }
  }
}

#intro{
  background-image: url(../images/home/fondo_verde.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  color: #fff;

  .container{
    padding-top: 120px;
    background-image: url(../images/home/home_elements.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    @media only screen and (max-width: 778px){
      background-size: auto;
    }

    .cta{
      h1{
        font-size: 40px;
      }

      h3{
        margin-top: 10px;
      }

      .btn{
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    .flecha{
      padding-top: 200px;

      h3{
        font-size: 30px;
      }
    }
  }
}

#how-it-works{
  color: #808285;

  h1, h2, h3{
    color: #58595b;
  }

  h1{
    font-size: 40px;
  }

  p{
    font-size: 20px;
    font-weight: 300;
  }

  .row{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

#faqs{
  padding-top: 100px;
  color: #58595b;

  .questions{
    padding-top: 20px;
    padding-bottom: 20px;

    p{
      font-size: 18px;
      font-weight: 300;
    }
  }
}

#team{
  padding-top: 100px;
  color: #58595b;

  p{
    font-size: 18px;
    font-weight: 300;
  }

  .title{
    padding-bottom: 20px;
  }

  .team-member{
    padding-bottom: 30px;

    .info{
      color: #919396;

      p{
        font-size: 12px;

        @media only screen and (max-width: 778px){
          font-size: 14px;
        }
      }
    }

    .description{
      padding-top: 30px;

      @media only screen and (max-width: 778px){
        text-align: center;
        padding-top: 0px;
      }
    }
  }
}

#mision{
  padding-top: 100px;
  color: #58595b;

  h1{
    font-size: 50px;
  }

  .apolo11{

    img{
      padding-top: 30px;
      padding-bottom: 30px;
    }

    p{
      font-size: 18px;
      font-weight: 300;
    }
  }
}

#terms{
  padding-top: 100px;
  color: #58595b;

  h1{
    font-size: 50px;
  }

  img{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p{
    font-weight: 300;
  }
}

#press{
  padding-top: 100px;
  color: #58595b;

  h1{
    font-size: 50px;
  }

  img{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

footer{
  .container{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .nav{

    a{
      color: #4f5877;

      &:hover{
        color: darken(#4f5877, 5%);
        background-color: lighten(#eee, 5%);
      }
    }
  }
}

