$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_general.scss";

.btn-sign-in{
  background-color: #6fa879;
  border: 0px;
  color: #fff;
  font-weight: 300;

  .otra{
    &:hover{
      background-color: darken(#6fa879, 5%) !important;
      color: #fff;
    }
  }
}

.btn-white{
  background-color: #fff;
  color: #58595b;
  border-color: #58595b;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;

  &:hover{
    background-color: #58595b;
    color: #fff;
  }
}

.btn-green{
  background-color: #fff;
  color: #58595b;
  border-color: #6fa879;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;

  &:hover{
    background-color: #6fa879;
    color: #fff;
  }
}

.btn-red{
  background-color: #fff;
  color: #58595b;
  border-color: #f24040;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;

  &:hover{
    background-color: #f24040;
    color: #fff;
  }
}

.btn-fill{
  width: 100%;
}

.btn-orange{
  background-color: #f36e54;
  color: #fff;
  border-color: #f36e54;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;

  &:hover{
    background-color: lighten(#f36e54, 5%);
    color: #fff;
  }
}

.btn-white.btn-lg,
.btn-orange.btn-lg{
  padding-left: 40px;
  padding-right: 40px;
}

#main-nav{
  background-color: transparent;
  border: 0px;
  color: #fff;
  @include transition(all 0.5s ease-in);

  #main-nav-container{
    padding-top: 10px;
    padding-bottom: 10px;

    a{
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      padding-left: 20px;
      padding-right: 20px;

      &:hover{
        background-color: lighten(#6fa879, 10%);
      }
    }

    .logo{
      padding-top: 0px;

      &:hover{
        background-color: transparent;
      }

      .blanco{
        display: block;
      }

      .negro{
        display: none;
      }
    }

    .navbar-toggle{
      border: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #navbar-collapse{
      @media only screen and (max-width: 778px){
        background-image: url(../images/home/fondo_verde.svg);
        text-align: center;
      }
    }

    .btn-sign-in{
      @media only screen and (max-width: 778px){
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

#main-nav.white{
  background-color: #fff;
  color: #808285;

  #main-nav-container{
    a{
      color: #808285;

      &:hover{
        background-color: lighten(#eee, 5%);
      }
    }

    .btn-sign-in{
      background-color: #fff;
      border: 1px solid #808285;
      color: #808285;
      font-weight: 300;

      &:hover{
        background-color: #808285 !important;
        color: #fff;
      }
    }

    .logo{
      padding-top: 0px;

      &:hover{
        background-color: transparent;
      }

      .blanco{
        display: none;
      }

      .negro{
        display: block;
      }
    }

    #navbar-collapse{
      @media only screen and (max-width: 778px){
        background-image: none;
        background-color: #fff;
      }
    }
  }
}

#intro{
  background-image: url(../images/home/fondo_verde.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  color: #fff;

  #carousel{
    padding-top: 40px;
  }

  .container{
    padding-top: 120px;
    background-image: url(../images/home/home_elements.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    @media only screen and (max-width: 778px){
      background-size: auto;
    }

    .cta{
      h1{
        font-size: 40px;
      }

      h3{
        margin-top: 10px;
      }

      .btn{
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    .flecha{
      padding-top: 200px;

      img{
        width: 25px;
      }

      h3{
        font-size: 30px;
      }
    }
  }

  .next,
  .previous{
    cursor: pointer;
    padding-top: 120px;
  }
}

#how-it-works{
  color: #808285;

  h1, h2, h3{
    color: #58595b;
  }

  h1{
    font-size: 40px;
  }

  p{
    font-size: 20px;
    font-weight: 300;
  }

  .row{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

#faqs{
  padding-top: 100px;
  color: #58595b;

  .questions{
    padding-top: 20px;
    padding-bottom: 20px;

    p{
      font-size: 18px;
      font-weight: 300;
    }
  }
}

#team{
  padding-top: 100px;
  color: #58595b;

  p{
    font-size: 18px;
    font-weight: 300;
  }

  .title{
    padding-bottom: 20px;
  }

  .team-member{
    padding-bottom: 30px;

    .info{
      color: #919396;

      p{
        font-size: 12px;

        @media only screen and (max-width: 778px){
          font-size: 14px;
        }
      }
    }

    .description{
      padding-top: 30px;

      @media only screen and (max-width: 778px){
        text-align: center;
        padding-top: 0px;
      }
    }
  }
}

#mision{
  padding-top: 100px;
  color: #58595b;

  h1{
    font-size: 50px;
  }

  .apolo11{

    img{
      padding-top: 30px;
      padding-bottom: 30px;
    }

    p{
      font-size: 18px;
      font-weight: 300;
    }
  }
}

#terms{
  padding-top: 100px;
  color: #58595b;

  h1{
    font-size: 50px;
  }

  img{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p{
    font-weight: 300;
  }
}

#press{
  padding-top: 100px;
  color: #58595b;

  h1{
    font-size: 50px;
  }

  img{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#contacto{
  padding-top: 100px;
  color: #58595b;

  h1{
    font-size: 50px;
  }

  img{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  form .form-group .form-control{
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {  
       color: red;  
    }
  }
  
}

footer{
  .container{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .nav{

    a{
      color: #4f5877;

      &:hover{
        color: darken(#4f5877, 5%);
        background-color: lighten(#eee, 5%);
      }
    }
  }
}

/*
*
* User Subscription Flow
*
*/

.subscribe-flow{
  color: #58595b;
  padding-top: 60px;
  padding-bottom: 60px;

  .title{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #type-selector{
    padding-top: 30px;
    padding-bottom: 30px;

    li a{
      margin-left: 10px;
      margin-right: 10px;

      color: #58595b;
      background-color: #d1d3d4;

      &:hover{
        background-color: lighten(#d1d3d4, 10%);
      }
    }

    .active{
      a{
        background-color: lighten(#d1d3d4, 10%);
      }
    }
  }

  #pad-type-selector{
    padding-top: -10px;
    padding-bottom: 20px;

    li a{
      margin-left: 10px;
      margin-right: 10px;

      color: #58595b;
      background-color: #d1d3d4;

      &:hover{
        background-color: lighten(#d1d3d4, 10%);
      }
    }

    .active{
      a{
        background-color: lighten(#d1d3d4, 10%);
      }
    }
  }

  .marca{
    padding-top: 20px;
    padding-bottom: 10px;

    p{
      margin-top: 20px;
      margin-bottom: 0px;
    }
  }

  #quantity{
    #pad-type-selector{
      li a{
        color: #58595b;
        background-color: #fff;

        &:hover{
          background-color: lighten(#d1d3d4, 10%);
        }
      }
    }
  }

  #back-button{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .item{
    padding-bottom: 10px;
  }

  .remove-item{
    cursor: pointer;
  }

  #total{
    h3{
      margin-top: 12px;
    }
    p{
      margin-top: 15px;
    }
  }
}

.no-padding-left{
  padding-left: 0px;

  @media only screen and (max-width: 778px){
    padding-right: 0px;
  }
}

#subscription{
  padding-top: 60px;
  padding-bottom: 60px;
  
  .no-padding-left{
    padding-left: 0px;

    @media only screen and (max-width: 778px){
      padding-right: 0px;
    }
  }

  .form-group{
    input{
      margin-bottom: 10px;
    }
  }

  .order{
    p{
      color: lighten(#58595b, 5%);
    }

    strong{
      color: #000;
    }
  }

  .state{
    @media only screen and (max-width: 778px){
      margin-bottom: 10px;
    }
  }

  .stamp{
    @media only screen and (max-width: 778px){
      margin-bottom: 10px;
    }
  }

  .finish{
    padding-top: 50px;
    padding-bottom: 30px;

    p{
      color: lighten(#58595b, 15%);
    }
  }
  @media only screen and (max-width: 778px){
    
  }
}

#sign-in{
  padding-top: 100px;

  .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sign-in-form{
    padding-top: 30px;
  }

  input{
    margin-bottom: 10px;
  }

  .beachbag{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

#welcome{
  padding-top: 120px;
  padding-bottom: 120px;

  h1{
    padding-bottom: 40px;
  }

  img{
    padding-bottom: 50px;
  }
}

#dashboard{
  padding-bottom: 50px;
  color: #58595b;

  .navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: 0px;

    @media only screen and (max-width: 778px){
      background-color: #fff;
    }
  }

  .nav{
    li a{
      font-size: 20px;
      font-weight: 300;
      color: #58595b;
    }
  }

  .dropdown-menu{
    border: 0px;
    box-shadow: none;

    li a{
      font-size: 14px;
    }
  }

  #dashboard-container{
    margin-top: 70px;

    @media only screen and (max-width: 778px){
      margin-top: 100px;
    }
  }

  #side-bar{

    .nav{
      margin-top: 20px;

      li a{
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #58595b;

        @media only screen and (max-width: 778px){
          text-align: center;
        }

        img{
          padding-right: 10px;
        }
      }
    }
  }

  #main-panel{
    margin-top: 40px;

    .title{
      padding-bottom: 20px;

      h1{
        font-size: 40px;
      }
    }

    .info-panel{

      h3{
        font-size: 28px;
      }

      p{
        font-size: 16px;
        font-weight: 300;
      }
    }

    .timer{
      width: 75px;
      height: 75px;
      background-image: url(/images/dashboard/dashboard_stamptimer.svg);
      background-size: cover;
      background-repeat: no-repeat;

      h4{
        margin: 0;
        padding-top: 25px;
        text-align: center;
      }
    }

    .boton-rojo,
    .cancel-confirm{
      display: none
    }

    .info{
      padding-left: 15px;
    }

    .mute{
      color: lighten(#58595b, 35%);
    }

    .address,
    .card{
      height: auto;
      padding-bottom: 20px;
      padding-left: 15px;

      .btn{
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .state{
      @media only screen and (max-width: 778px){
        margin-bottom: 10px;
      }
    }

    .stamp{
      @media only screen and (max-width: 778px){
        margin-bottom: 10px;
      }
    }

    .switch{
      @media only screen and (max-width: 778px){
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .back-button{
      padding-top: 40px;
    }

    .account-info{
      margin-bottom: 40px;

      p{
        font-size: 22px;
      }
    }

    .no-padding-left{
      padding-left: 0px;

      @media only screen and (max-width: 778px){
        padding-right: 0px;
      }
    }

    .form-group{
      input{
        margin-bottom: 10px;
      }
    }

    .card-icons{
      margin-bottom: 10px;
    }

    .confirm{
      margin-top: 60px;
    }

    .cancel{
      padding-top: 20px;

      a{
        color: lighten(#58595b, 15%);
      }
    }

    @media only screen and (max-width: 778px){
      text-align: center;
    }

  }
}
